body{
    display: block;
    background-color:#023300;
}
ul{
    font-size:large;
    list-style-type:none;
    margin: -8px;
    padding: 0;
    overflow: hidden;
    background-color:#0E550B;
}
li{
    margin-bottom: -5px;
    float: left;
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
}
li a:hover{
    background-color:brown ;
    color: black;
}
.gallery {
    font-family:'Courier New', Courier, monospace;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 20px;
}
.product {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra:hover {
        background-color:brown;
        color: black;
}


.product1 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product1 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra1 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra1:hover {
        background-color:brown;
        color: black;
}


.product2 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product2 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra2 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra2:hover {
        background-color:brown;
        color: black;
}


.product3 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product3 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra3 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra3:hover {
        background-color:brown;
        color: black;
}



.product4 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product4 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra4 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra4:hover {
        background-color:brown;
        color: black;
}



.product5 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product5 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra5 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra5:hover {
        background-color:brown;
        color: black;
}


.product6 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product6 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra6{
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra6:hover {
        background-color:brown;
        color: black;
}


.product7 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product7 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra7 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra7:hover {
        background-color:brown;
        color: black;
}


.product8 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product8 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra8 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra8:hover {
        background-color:brown;
        color: black;
}



.product9 {
    background-color:#0E550B;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}
.product9 img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.compra9 {
    background-color: rgb(0, 0, 0);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;

}
.compra9:hover {
        background-color:brown;
        color: black;
}

label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action span.option-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action span.option-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action span.option-2 {
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action span.option-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   


   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action1 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action1 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action1 span.option1-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action1 span.option1-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action1 span.option1-2 {
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action1 span.option1-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   


   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action2 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action2 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action2 span.option2-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action2 span.option2-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action2 span.option2-2{
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action2 span.option2-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   


   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action3 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action3 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action3 span.option3-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action3 span.option3-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action3 span.option3-2{
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action3 span.option3-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   




   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action4 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action4 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action4 span.option4-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action4 span.option4-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action4 span.option4-2{
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action4 span.option4-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }


   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action5 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action5 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action5 span.option5-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action5 span.option5-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action5 span.option5-2 {
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action5 span.option5-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   


   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action6 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action6 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action6 span.option6-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action6 span.option6-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action6 span.option6-2 {
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action6 span.option6-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   


   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action7 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action7 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action7 span.option7-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action7 span.option7-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action7 span.option7-2{
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action7 span.option7-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   


   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action8 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action8 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action8 span.option8-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action8 span.option8-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action8 span.option8-2{
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action8 span.option8-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   




   label {
    background-color: black;
    display: flex;
    align-items: center;
    gap: 14px;
    padding: 10px 15px 10px 10px;
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: white;
   }
    input {
    display: none;
   }
   
   input:checked + label svg {
    fill: hsl(0deg 100% 50%);
    stroke: hsl(0deg 100% 50%);
    animation: heartButton 1s;
   }
   
   @keyframes heartButton {
    0% {
     transform: scale(1);
    }
   
    25% {
     transform: scale(1.3);
    }
   
    50% {
     transform: scale(1);
    }
   
    75% {
     transform: scale(1.3);
    }
   
    100% {
     transform: scale(1);
    }
   }
   
   input + label .action9 {
    position: relative;
    overflow: hidden;
    display: grid;
   }
   
   input + label .action9 span {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    transition: all .5s;
   }
   
   input + label .action9 span.option9-1 {
    transform: translate(0px,0%);
    opacity: 1;
   }
   
   input:checked + label .action9 span.option9-1 {
    transform: translate(0px,-100%);
    opacity: 0;
   }
   
   input + label .action9 span.option9-2{
    transform: translate(0px,100%);
    opacity: 0;
   }
   
   input:checked + label .action9 span.option9-2 {
    transform: translate(0px,0%);
    opacity: 1;
   }
